<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=mgts-wfm05;Initial Catalog=CitiGid_Logs_MTS;User Id=log_parser;Password=1qaz#EDC"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>